//color
$green: rgba(19, 106, 69, 0.15);
$black: #0e0f0f;
$sweet_btn: linear-gradient(100.23deg, rgba(19, 106, 69, 0.8) 1.27%, rgba(19, 106, 69, 0.48) 106.26%);
$dark-btn: linear-gradient(100.23deg, rgba(19, 106, 69, 0.8) 1.27%, rgba(19, 106, 69, 0.48) 106.26%);
$sale: linear-gradient(138.7deg, #ff0000 6.82%, rgba(255, 0, 0, 0.35) 111.95%);
$text: #8a8a8a;
$footer-text: rgba(149, 157, 154, 0.6);
//font size
$fz14: 14px;
$fz16: 16px;
$fz18: 18px;
$fz20: 20px;
$fz24: 24px;
$fz36: 36px;
//font family
$ff: "Roboto", sans-serif;
//container
$ld: 1320px;
$md: 1024px;
$sd: 768px;
$mobile: 425px;
